@page
@model PARKNET.Pages.CustomerInfo.IndexModel

@{
    ViewData["Title"] = "Customer Info";
}

<h1>Customer Info</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].DriversLicenseNumber)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriversLicenseNumber)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.CustomerID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
