@page
@model PARKNET.Pages.Profit.ProfitModel

@{
    ViewData["Title"] = "Profit";
}

<h1>Profit</h1>

    <a asp-page="./Anual">Current Year Profit</a>
    <br />



Profit: @Model.Profit
<table class="table">
    <thead>
        <tr>
            <th>
                Customer Email
            </th>
            <th>
                Vehicle Plate
            </th>
            <th>
                Park
            </th>
            <th>
                Parking Space
            </th>
            <th>
                Permit Tariff
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permit[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permit[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permit[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Permit) {
        <tr>
            <td>
                @Model.Customers.FirstOrDefault(c => c.CustomerID == (Model.Vehicles.FirstOrDefault(v=>v.VehicleID == item.VehicleID).CustomerID)).CustomerEmail
            <td>
                @Model.Vehicles.FirstOrDefault(v => v.VehicleID == item.VehicleID).Plate
            </td>
            <td>
                @Model.Parks.FirstOrDefault(p => p.ParkID == (Model.ParkingSpaces.FirstOrDefault(ps=>ps.ParkingSpaceID == item.ParkingSpaceID).ParkID)).Name
            </td>
            <td>
                @Model.ParkingSpaces.FirstOrDefault(p => p.ParkingSpaceID == item.ParkingSpaceID).Coordinate
            </td>
            <td>
                @Model.PermitTariffs.FirstOrDefault(t => t.PermitTariffID == item.PermitTariffID).TariffType
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
        </tr>
}
    </tbody>
</table>
