@page
@model PARKNET.Pages.PermitTariff.IndexModel

@{
    ViewData["Title"] = "Permit Tariffs";
}

<h1>Permit Tariffs</h1>

<p>
    <a asp-page="Create">Add New Tariff</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PermitTariff[0].VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermitTariff[0].TariffType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermitTariff[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermitTariff[0].Days)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PermitTariff) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TariffType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PermitTariffID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PermitTariffID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PermitTariffID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
