@page
@model PARKNET.Pages.ParkSetUp.IndexModel

@{
    ViewData["Title"] = "Park Set Up";
}

<h1>Park Set Up</h1>

<p>
    <a asp-page="Create">Add New Park</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Park[0].Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Park) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ParkID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ParkID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ParkID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
